.eventInfoContainer
{
    width: 100%;
    height: auto;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.eventMainInfo
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eventInfoSubTitle
{
    width: 100%;
    height: auto;
    display: flex;
    object-fit: cover;
    position: relative;
}

.fukidashiImage
{
    width: 30%;
    height: auto;
    position: relative;
    object-fit: contain;
    z-index: 1;
    transform: rotate(-5deg);
}

.eventInfoText {
    width: 100%;
    height: auto;
    left: -48%;
    margin-top: 6%;
    transform: rotate(-25deg);
    align-items: center;
    position: relative;
    font-size: 4rem;
    font-weight: 400;
    font-family: var(--font_eng);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

@media (max-width: 768px)
{
    .eventInfoSubTitle
    {
        left: -8%;
    }
    .fukidashiImage
    {
        width: 60%;
    }
    .eventInfoText
    {
        left: -45%;
        margin-top: 11%;
        font-size: 2.2rem;
    }
}

.eventInfoDateTicket {
    width: 100%;
    height: auto;
    margin-top: -20%;
    display: flex;
    position: relative;
    overflow: hidden; /* はみ出した要素を隠す */
}
@media (max-width: 768px)
{
    .eventInfoDateTicket
    {
        margin-top: -30%;
    }
}

.kurariCamvasImage {
    width: 70%;
    max-width: calc(var(--scaler) * 1200px);
    height: auto;
    left: 15%;
    position: relative;
    object-fit: cover;
    z-index: 0;
}
@media (max-width: 768px)
{
    .kurariCamvasImage
    {
        width: 130%;
        left: -15%;
    }
}

.descriptionDateTicket {
    width: 95%;
    height: auto;
    max-width: calc(var(--scaler) * 1140px);
    margin-top: 19%;
    margin-left: 30%;
    position: absolute;
    z-index: 4;
    font-family: var(--font_jp);
    color: var(--text-light-blue);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px)
{
    .descriptionDateTicket
    {
        margin-top: 25%;
        margin-left: 0%;
    }
}

.textLarge {
    font-size: calc(var(--scaler) * 2.5rem);
    margin: 1rem 2rem 0.5rem 2rem;
    line-height: 1.2;
}

.textSmall {
    font-size: calc(var(--scaler) * 2rem);
    margin: 0.5rem 2rem 0.5rem 2rem;
    line-height: 1.1;
    letter-spacing: 0.1em;
}

.venueInfo {
    height: auto;
    width: auto;
    position: relative;
    margin-top: 20px;
    z-index: 4;
    font-family: var(--font_jp);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--text-light-blue);
}

.rect
{
    width: 100%;
    max-width: calc(var(--scaler) * 1200px);
    height: auto;
    position: relative;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: rgba(254, 240, 239, 1);
    z-index: 2;
    overflow-x: hidden;
}

.textVenueTitle
{
    font-size: calc(var(--scaler) * 3rem);
    top: 3rem;
    left: 2rem;
    position: relative;
}

.textVenueDesctiption
{
    font-size: calc(var(--scaler) * 2rem);
    position: relative;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
}

.redPinIcon
{
    width: calc(var(--scaler) * 80px);
    height: auto;
    position: absolute;
    margin: 0 !important;
    top: 15px;
    left: 20px;
    object-fit: cover;
    z-index: 2;
}

iframe
{
    width: 98%;
    border-radius: 20px;
    position: relative;
    height: calc(var(--scaler) * 600px);
    border: none;
    z-index: 1;
}
