.eventInfoContainer
{
    width: 100%;
    height: auto;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.eventMainInfo
{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.eventInfoSubTitle
{
    width: calc(var(--scaler) * 600px);
    height: calc(var(--scaler) * 600px);
    right: calc(var(--scaler) * 600px);
    display: flex;
    position: relative;
}

.fukidashiImage
{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: contain;
    z-index: 5;
    transform: rotate(-5deg);
}

.eventInfoText {
    width: auto;
    height: auto;
    top: 45%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    align-items: center;
    position: absolute;
    font-size: calc(var(--scaler) * 6rem);
    font-weight: 400;
    font-family: var(--font_eng);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 6;
}

.eventInfoDateTicket {
    width: 100%;
    height: auto;
    margin-top: calc(var(--scaler) * -500px); /* 余白を作らずに上げる */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;
}


.kurariCamvasImage {
    width: calc(var(--scaler) * 1500px);
    height: auto;
    position: relative;
    object-fit: cover;
    z-index: 3;
}

.descriptionDateTicket {
    width: auto;
    height: auto;
    margin-top: 45%;
    margin-left: 47%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 4;
    font-family: var(--font_jp);
    color: var(--text-light-blue);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textLarge {
    font-size: calc(var(--scaler) * 6rem);
    margin: 1rem 2rem 0.5rem 2rem;
    line-height: 1;
}

.textSmall {
    font-size: calc(var(--scaler) * 4rem);
    margin: 0.5rem 2rem 0.5rem 2rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

.venueInfo {
    height: auto;
    width: auto;
    position: relative;;
    z-index: 4;
    font-family: var(--font_jp);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--text-light-blue);
}

.rect
{
    width: calc(var(--scaler) * 1200px);
    height: auto;
    position: relative;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: rgba(254, 240, 239, 1);
    z-index: 2;
}

.textVenueTitle
{
    font-size: calc(var(--scaler) * 6rem);
    top: 3rem;
    left: 2rem;
    position: relative;
}

.textVenueDesctiption
{
    font-size: calc(var(--scaler) * 4.5rem);
    position: relative;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    top: calc(var(--scaler) * -3rem);
}

.redPinIcon
{
    width: calc(var(--scaler) * 150px);
    height: calc(var(--scaler) * 150px);
    position: absolute;
    margin: 0 !important;
    top: 15px;
    left: 20px;
    object-fit: cover;
    z-index: 2;
}

iframe
{
    width: 90%;
    border-radius: 20px;
    position: relative;
    height: calc(var(--scaler) * 600px);
    border: none;
    z-index: 1;
}