.membersContainer
{
  width: 100%;
  height: auto;
  align-self: stretch;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.membersChild
{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.membersSubTitle
{
  width: 100%;
  height: auto;
  display: flex;
  object-fit: cover;
  position: relative;
}

.fukidashiImage
{
  width: 30%;
  height: auto;
  position: relative;
  object-fit: contain;
  z-index: 1;
  transform: rotate(-5deg);
}

.membersText {
  width: 100%;
  height: auto;
  left: -48%;
  margin-top: 6%;
  transform: rotate(-25deg);
  align-items: center;
  position: relative;
  font-size: 4rem;
  font-weight: 400;
  font-family: var(--font_eng);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
@media (max-width: 768px)
{
    .membersSubTitle
    {
        left: -8%;
    }
    .fukidashiImage
    {
        width: 60%;
    }
    .membersText
    {
        left: -45%;
        margin-top: 10%;
        font-size: 2.5rem;
    }
}

.membersMain {
  width: 100%;
  height: auto;
  margin-top: -60%;
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px)
{
    .membersMain
    {
        margin-top: -69%;
    }
}

.kurariCamvasImage {
  width: 70%;
  max-width: calc(var(--scaler) * 1200px);
  height: auto;
  left: 0;
  margin-top: 40%;
  position: relative;
  object-fit: cover;
  z-index: 0;
}
@media (max-width: 768px)
{
  .kurariCamvasImage
  {
      width: 130%;
  }
}

.swiperContainer {
  width: 900px;
  max-width: 100%;
  height: 570px;
  max-height: 100%;
  bottom: 5%;
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  z-index: 1;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px)
{
  .swiperContainer
  {
    height: auto;
    bottom: 1%;
  }
}


.slide {
  width: 100%;
  height: 100%;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 40px 0;
}

.descriptionMemberInfo {
  width: 90%;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font_jp);
  color: var(--text-light-blue);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  background-color: rgba(254, 240, 239, 0.788);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px)
{
  .descriptionMemberInfo
  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
}

.iconAndNameAndPart
{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  position: relative;
  z-index: -100;
}

.memberIconImage {
  width: calc(var(--scaler) * 150px);
  height: auto;
  position: relative;
  object-fit: cover;
  z-index: 1;
  border-radius: 50%;
}

.descriptionNamePart
{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: calc(var(--scaler) * 20px);
  max-width: 100%;
  position: relative;
}

.nameText {
  font-size: calc(var(--scaler) * 2.5rem);
  font-family: var(--font_jp);
  color: var(--text-light-blue);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin: 0;
  position: relative;
}

.label {
  display: inline-block;
  width: auto;
  margin-left: 5px;
  text-align: right;
}

.bold {
  font-weight: 800;
}

.commentAndFavoriteSongs
{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  max-width: 100%;
  position: relative;
}

.textTitle {
  font-size: calc(var(--scaler) * 2rem);
  margin: 0rem 0rem 0rem 0.5rem;
  line-height: 1;
}

.textDescription {
  font-size: calc(var(--scaler) * 2.2rem);
  margin: 0.5rem 2rem 0.5rem 2rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

@media (max-width: 768px)
{
  .memberIconImage
  {
    width: calc(var(--scaler) * 100px);
  }
  .nameText
  {
    font-size: 1.4rem;
  }
  .textTitle
  {
    font-size: 1.2rem;
  }
  .textDescription
  {
    font-size: 1.3rem;
  }
}

.snsIcons
{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.forX
{
  background-color: black;
  border-radius: 10px;
}

.snsIcon
{
  width: 75px;
  height: auto;
  margin-right: 0.3rem;
  position: relative;
  right: 0;
}

@media (max-width: 768px)
{
  .snsIcons
  {
    margin-top: 3%;
    margin-bottom: -4%;
    margin-left: 4%;
    gap: 1rem;
  }
  .snsIcon
  {
    width: 50px;
    height: auto;
    margin-right: 0rem;
  }
}