.vol4Container
{
  width: 100%;
  position: relative;
  background-color: #fff8e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topContainer
{
  width: auto;
  height: auto;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topbar
{
  background-color: #ffe9ba;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  gap: calc(var(--scaler) * 1rem);
  top: 0;
  z-index: 99;
  position: sticky;
}

.topbarButton
{
  width: calc(var(--scaler) * 20rem);
  text-decoration: none;
  text-align: center;
  position: relative;
  font-size: calc(var(--scaler) * 2.5rem);
  font-family: var(--font_eng);
  color: var(--color-black);
  z-index: 2;
  border-radius: 20px;
}

.topbarButton:hover
{
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
