.footerContainer
{
  width: 100%;
  height: auto;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: var(--padding-7xs) var(--padding-7xs) var(--padding-39xl); */
  box-sizing: border-box;
  text-align: left;
}

.footerContainerChild
{
  width: 100%;
  height: auto;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--color-black);
  z-index: 0;
}

.link
{
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: calc(var(--scaler) * 2rem);;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.description
{
  width: 80%;
  height: auto;
  left: calc(var(--scaler) * 2rem);;
  vertical-align: bottom;
  font-size: calc(var(--scaler) * 1rem);;
  color: white;
  position: relative;
  line-height: 20px;
  z-index: 1;
}
