.footerContainer
{
  width: 100%;
  height: auto;
  position: absolute;
  align-items: center; /* Center align items */
  justify-content: space-between; /* Space between items */
  flex-direction: row; 
  flex-wrap: wrap;
  box-sizing: border-box;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.76);
}

.description
{
  width: 70%;
  height: auto;
  left: calc(var(--scaler) * 2rem);;
  vertical-align: bottom;
  flex-direction: row;
  font-size: calc(var(--scaler) * 1rem);;
  color: white;
  position: relative;
  line-height: 20px;
  z-index: 1;
  display: flex; /* Use flexbox */
  align-items: end; /* Center align items */
}

.footerButton
{
  color: lightblue;
  width: auto;
  height: auto;
  margin-bottom: 2rem;
  font-size: calc(var(--scaler) * 1.5rem);
  display: inline-block;
}
.footerButton:hover
{
  color: var(--color-primary);
  cursor: pointer;
}

.imageContainer
{
  width: auto;
  height: auto;
  position: relative;
}

.imageForX
{
  width: 100px;
  height: 100px;
  position: relative;
}
.imageForX:hover
{
  cursor: pointer;
  scale: 1.1;
}

.topButton
{
  width: calc(var(--scaler) * 100px);
  height: auto;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.428);
  border-radius: 50%;
  backdrop-filter: blur(3px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  z-index: 999;
  cursor: pointer;
}
.topButton:hover
{
  scale: 1.1;
}

.popupContainer
{
  width: 80%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--padding-7xs) var(--padding-7xs) var(--padding-39xl);
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(226, 255, 255, 0.95);
  z-index: 999; /* Ensure it is on top of other elements */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 10px;
}

@media (max-width: 768px)
{
  .popupContainer
  {
    width: 100%;
  }
}

.popupContent
{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.closeButton
{
  width: auto;
  height: auto;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: calc(var(--scaler) * 4rem);
  color: var(--color-black);
  z-index: 13;
  line-height: 50px;
  padding: 10px;
  cursor: pointer;
}

.closeButton:hover
{
  color: var(--color-primary);
}

.popupTitle
{
  width: 100%;
  height: auto;
  padding: 3rem;
  font-size: calc(var(--scaler) * 2rem);;
  color: rgb(0, 0, 0);
  font-family: var(--font_jp);
  margin-bottom: 1rem;
}

.popupDescription
{
  width: 100%;
  height: auto;
  padding: 1rem;
  font-size: calc(var(--scaler) * 1.5rem);
  color: rgb(0, 0, 0);
  font-family: var(--font_jp);
}

.closeLayer
{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
}

.buttonContainer
{
  width: 100%;
  height: auto;
  top: 1rem;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
  /* display: flex; */
  gap: 1rem;
}
