.root {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}

:root
{
  --scaler: 1;
}

@media (max-width: 768px)
{
  :root
  {
    --scaler: 0.8;
  }
}