@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=M+PLUS+Rounded+1c&display=swap');

:root
{
  --scaler: 1;
  --font_eng: 'Comic Neue', serif;
  --font_jp: 'M PLUS Rounded 1c', serif;
}

@media (max-width: 768px)
{
  :root
  {
    --scaler: 0.8;
  }
}