.topContainerChild
{
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  background-color: var(--color-gainsboro);
  z-index: 0;

}

.rectangleParent
{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
}

.title
{
  text-decoration: none;
  top: calc(var(--scaler) * 2rem);
  left: calc(var(--scaler) * 2rem);
  height: auto;
  width: auto;
  position: relative;
  letter-spacing: 1px;
  line-height: 10px;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  font-size: calc(var(--scaler) * 4rem);;
  font-family: var(--font_jp);
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.17), 0 1px 0 rgba(0, 0, 0, 0.17),
    -1px 0 0 rgba(0, 0, 0, 0.17), 0 -1px 0 rgba(0, 0, 0, 0.17);
  /* backdrop-filter: blur(4px); */
  z-index: 1;
}

@media (max-width: 768px)
{
  .title
  {
    line-height: 3rem;
    margin-bottom: 3rem;
  }
}

.columnContainer
{
  margin-top: calc(var(--scaler) * 5rem);
  width: calc(var(--scaler) * 3rem);
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-53xl);
  box-sizing: border-box;
  z-index: 2;
  font-family: var(--font_eng);
}

.columnParent
{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: calc(var(--scaler) * 3rem);;
  width: calc(var(--scaler) * 16rem);;
  position: relative;
  letter-spacing: -0.5px;
  color: inherit;
  flex-shrink: 0;
  font-size: calc(var(--scaler) * 3rem);;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.49), 0 1px 0 rgba(0, 0, 0, 0.49),
    -1px 0 0 rgba(0, 0, 0, 0.49), 0 -1px 0 rgba(0, 0, 0, 0.49);
}

.column:hover
{
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
