.description
{
    top: 0;
    width: 94%;
    height: auto;
    left: 5%;
    text-align: left;
    z-index: 1;
    position: relative;
    color: black;
    font-family: var(--font_jp);
    font-size: calc(var(--scaler) * 2rem);
    margin-top: calc(var(--scaler) *description 1rem);
}