.infoSplitter
{
  width: 97%;
  left: 4%;
  position: relative;
  height: auto;
}

.infoItem
{
  width: 97%;
  left: 4%;
  position: relative;
  color: black;
  font-family: var(--font_jp);
  font-size: calc(var(--scaler) * 1.5rem);
}

.showMoreButton
{
  top: -1rem;
  left: 2rem;
  font-size: calc(var(--scaler) * 1.2rem);
  font-style: italic;
  font-family: var(--font_eng);
  border: none;
  cursor: pointer;
  vertical-align: top;
  z-index: 1;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.showMoreButton:hover
{
  transform: scale(1.1);
}

.informationContainer
{
  width: 100%;
  display: flex;
  margin-top: calc(var(--scaler) * 1rem);
  flex-wrap: wrap;
  gap: 2%;
  z-index: 1;
}

.informationContainerChild
{
  width: calc(var(--scaler) * 800px);
  max-width: 98%;
  text-align: left;
}

.infoListContainer
{
  display: inline-block;
  width: 100%; /* 幅を100%に設定 */
  text-align: left;
}
