.infoSplitter
{
  position: absolute;
  left: calc(var(--scaler) * 2.5rem);
  width: calc(var(--scaler) * 28rem);
  height: auto;
}

.infoItem
{
  position: relative;
  width: calc(var(--scaler) * 28rem);
  left: calc(var(--scaler) * 3rem);
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.49), 0 1px 0 rgba(0, 0, 0, 0.49),
    -1px 0 0 rgba(0, 0, 0, 0.49), 0 -1px 0 rgba(0, 0, 0, 0.49);
  font-size: calc(var(--scaler) * 1.5rem);
  color: var(--color-white);
  font-family: var(--font-roboto);
}

.showMoreButton
{
  top: -1rem;
  left: 2rem;
  font-size: calc(var(--scaler) * 1.2rem);;
  color: var(--color-black); /* Change text color to black */
  font-style: italic; /* Make text italic */
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
  vertical-align: top;
  z-index: 1; /* Ensure the button is in front */
  position: relative; /* Ensure the button is positioned relative to its container */
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px; /* 角を丸くする */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 影を付ける */
}
.showMoreButton:hover
{
  transform: scale(1.1);
}

.informationContainer
{
  display: flex;
  margin-top: calc(var(--scaler) * 1rem);
  flex-wrap: wrap; /* 必要に応じて折り返し */
  gap: calc(var(--scaler) * 3px); /* 動画間の空白を設定 */
  z-index: 1;
  
}

.informationContainerChild
{
  width: calc(var(--scaler) * 500px);
  max-width: 90%;
  text-align: left; /* 左揃えに設定 */
}

.infoListContainer
{
  display: inline-block;
  width: 100%; /* 幅を100%に設定 */
  text-align: left;
}
