.subTitle
{
  font-size: 2rem;
  top: 1rem;
  left: 2rem;
  text-decoration: none;
  height: auto;
  width: auto;
  position: relative;
  letter-spacing: -0.5px;
  line-height: 20px;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.49), 0 1px 0 rgba(0, 0, 0, 0.49),
    -1px 0 0 rgba(0, 0, 0, 0.49), 0 -1px 0 rgba(0, 0, 0, 0.49);
  z-index: 1;
  vertical-align: top;
}

.archiveContainer
{
  display: flex;
  flex-wrap: wrap; /* 必要に応じて折り返し */
  gap: calc(var(--scaler) * 20px); /* 動画間の空白を設定 */
  z-index: 1;
}

.archiveContainerChild
{
  flex: 1 1 calc(var(--scaler) * 480px); /* 幅300pxを基準に横並び */
  max-width: calc(var(--scaler) * 480px); /* 最大幅を設定 */
  border-radius: 8px; /* 角丸を追加 */
}

iframe
{
  width: calc(var(--scaler) * 480px);
  height: calc(var(--scaler) * 270px);
  border: none;
}