.subTitle
{
  font-size: calc(var(--scaler) * 2.5rem);
  top: 1rem;
  left: 5%;
  text-decoration: none;
  height: auto;
  width: auto;
  position: relative;
  letter-spacing: -0.5px;
  line-height: 20px;
  color: var(--color-titles);
  display: inline-block;
  flex-shrink: 0;
  font-family: var(--font_eng);
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.49), 0 1px 0 rgba(0, 0, 0, 0.49),
    -1px 0 0 rgba(0, 0, 0, 0.49), 0 -1px 0 rgba(0, 0, 0, 0.49);
  z-index: 1;
  vertical-align: top;
}

.archiveContainer
{
  width: 100%;
  height: auto;
  display: flex;
  top: 10%;
  flex-wrap: wrap; /* 必要に応じて折り返し */
  gap: calc(var(--scaler) * 5px); /* 動画間の空白を設定 */
  z-index: 1;
}

.archiveContainerChild
{
  width: calc(var(--scaler) * 480px);
  height: calc(var(--scaler) * 240px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 1;
}

iframe
{
  width: auto;
  height: auto;
  border: none;
}