.homePageContainer
{
  width: 100%;
  position: relative;
  background-color: rgb(194, 252, 233);
}

.backgroundImage
{
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
}