.homePageContainer
{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('../../public/images/img_background.jpg'); 
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-size: contain; /* 画像を全体に表示 */
  background-attachment: fixed; /* スクロールしても背景画像を固定 */
  background-color: rgb(194, 252, 233);
}